html, body{
	margin: 0;
	padding: 0;
	background: url('4.jpg') no-repeat;
	background-size:  1370px 960px;
	height: 100%;
	width: 100%;
}
div.header{
	color: black;
	height: 60px;
	width: 100%;
}
div.logo{
	color: black;
	float: left;
	height: 60px;
	width: 25%;
}

div.menu{
	color: black;
	float: right;
	height: 60px;
	width: 75%;
}
div.portfolio{
	color: black;
	float: right;
	height: 60px;
	width: 15%;
	text-align: center;
}

.slider img{
	width: 340px;
	height: 336px;
	border-radius: 50%;
	margin :0 auto;
	display: block;
	border :2px solid black;
}
.inlogo{
	padding-left: 30px;
	width: 25%;
}
.inlogo img{
	width: 55px;
	height: 25%;
	margin :0 auto;
	display: block;
	float: left;
	border-radius: 50px;
}
.inlogo2{
	color: black;
	float: left;
	height: 67%;
	width: 55%;
	text-align: center;
	padding: 10px;
}

h2{
	margin: 0;
	text-align: center;
}
div.badan{
	background-color: red;
	width: 100%;
}


/*css contact*/
div.cp{
	color: black;
	height: 150px;
	width: 100%;
	text-align: center;
}
div.cperson{
	color: black;
	height: 150px;
	text-align: center;
}
div.temptext{
	color: black;
	float: right;
	height: 250px;
	width: 100%;
}
div.akun{
	color: black;
	float: left; 
	height: 250px;
	width: 50%;
	padding: 0 0 0 280px;
}
*{
	box-sizing: border-box;
}
div.pesan{
	color: black;
	float: right;  
	height: 250px;
	width: 50%;
	padding: 0 280px 0 0;
}
.kirim{
	color: purple;
	height: 50px;
	width: 10%;
	text-align: center;
	margin-left: 600px;
	margin-top:40px;
	margin-bottom:30px;
}
.size{
	width: 90%;
	height: 70px;
	padding: 0 0 0 28px;
}
.size1{
	width: 90%;
	height: 250px;
	padding: 0 0 0 28px;
	float: right;
}