html, body{
	margin: 0;
	padding: 0;
}

div.header{
	color: black;
	height: 60px;
	width: 100%;
}
div.logo{
	color: black;
	float: left;
	height: 60px;
	width: 25%;
}

div.menu{
	color: black;
	float: right;
	height: 60px;
	width: 75%;
}
div.portfolio{
	color: black;
	float: right;
	height: 60px;
	width: 15%;
	text-align: center;
}

div.slider{
	color: black;
	height: 400px;
	width: 100%;
	
}
.slider img{
	width: 340px;
	height: 336px;
	border-radius: 50%;
	margin :0 auto;
	display: block;
	border :2px solid black;
}
.dimg {
	background: url('4.jpg') no-repeat;
	background-size:  1370px 700px;
}
.inlogo{
	padding-left: 30px;
	width: 25%;
}
.inlogo img{
	width: 55px;
	height: 25%;
	margin :0 auto;
	display: block;
	float: left;
	border-radius: 50px;
}
.inlogo2{
	color: black;
	float: left;
	height: 67%;
	width: 55%;
	text-align: center;
	padding: 10px;
}

div.content{
	color: black;
	height: 100px;
	text-align: center;
}

div.footer{
	color: black;
	clear: both;
	height: 60px;
}
div.under{
	color: black;
	clear: both;
	height: 100px;
}
h2{
	margin: 0;
	text-align: center;
	color: black;
}
div.badan{
	background-color: red;
	width: 100%;
}



